@import '../mg-input.scss';
@import '../../../atoms/mg-input-title/mg-input-title.scss';
@import '../../../../styles/a11y.scss';

.mg-input{
  /**
  * global placements
  */
  &.mg-input--radio:not(.mg-input--readonly) {
    & mg-input-title, & mg-tooltip {
      margin-top: 0;
    }
    & input[type="radio"] {
      margin-left: 2.5rem;
      margin-right: 0.6rem;
      margin-top: -0.1rem;
      vertical-align: middle;
      &:first-child {
        margin-left: 1.9rem;
      }
    }

    /**
    * vertical alignement
    * case: for label on top
    */
    &.mg-input--label-on-top{
      & mg-input-title {
        margin-left: -0.2rem;
        margin-bottom: 1.1rem;
      }
      & input[type="radio"]:first-child {
        margin-left: 0;
      }
    }

    /**
    * vertical alignement
    * case: list style
    */
    &.mg-input--vertical-list{
      & mg-input-title {
        margin-right: 2.8rem;
      }
      // line-break
      & label:not(:last-of-type):after {
        content: "\A";
        white-space: pre;
        height: 1.1rem;
        display: block;
      }
      & input[type="radio"] {
        margin-left: 0rem;
        &:first-child {
          margin-left: 0rem;
        }
      }
    }

    /**
    * help-text
    */
    & .mg-input__input-container__help-text, & .mg-input__input-container__error {
      margin-left: 1.9rem;
    }
    &.mg-input--label-on-top, &.mg-input--vertical-list {
      & .mg-input__input-container__help-text, & .mg-input__input-container__error {
        margin-left: 0rem;
      }
    }
  }
}
