/**
 * Style for input "box":
 * - input[type="text"]
 * - input[type="date"]
 * - input[type="password"]
 * - textarea
 * - select
 */

.mg-input__box {
  // Display
  padding: calc((var(--default-size) - var(--font-size) * var(--line-height)) / 2) var(--mg-inputs-spacer);
  height: var(--default-size);
  box-sizing: border-box;
  // Decoration
  border-width: var(--mg-inputs-border-width);
  border-style: solid;
  border-color: var(--mg-inputs-color);
  border-radius: var(--mg-inputs-border-radius);
  // Font
  font-family: inherit;
  color: hsl(var(--color-dark));
  font-size: var(--font-size);

  // placeholder
  &::placeholder {
    color: var(--mg-inputs-color);
    font-style: italic;
  }

  &:focus {
    box-shadow: 0 0 0.6rem hsla(var(--mg-inputs-color-shadow-focus-hsl), 0.5);
  }
}
