/**
 * Style for input "box":
 * - input[type="text"]
 * - input[type="date"]
 * - input[type="password"]
 * - textarea
 * - select
 */

.mg-input__box {
  // Display
  padding: calc((var(--default-size) - var(--font-size) * var(--line-height)) / 2) var(--mg-inputs-spacer);
  height: var(--default-size);
  box-sizing: border-box;
  // Decoration
  border-width: var(--mg-inputs-border-width);
  border-style: solid;
  border-color: var(--mg-inputs-color);
  border-radius: var(--mg-inputs-border-radius);
  // Font
  font-family: inherit;
  color: hsl(var(--color-dark));
  font-size: var(--font-size);

  // placeholder
  &::placeholder {
    color: var(--mg-inputs-color);
    font-style: italic;
  }

  &:focus {
    box-shadow: 0 0 0.6rem hsla(var(--mg-inputs-color-shadow-focus-hsl), 0.5);
  }
}

/**
* Variations
*/

.mg-input.mg-input--is-input-group-append {
  // Input group button
  --mg-button-border-radius-top-left: 0;
  --mg-button-border-radius-bottom-left: 0;

  /**
  * Append input slot
  */
  .mg-input__box {
    margin-right: -0.1rem;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
    &:focus-visible {
      outline-style: solid;
      outline-offset: -0.2rem;
      outline-width: 0.2rem;
    }
  }

  /**
  * Readonly variation
  */
  &.mg-input--readonly slot[name='append-input'] {
    display: none;
  }
}

.mg-input.mg-input--is-append-input-slot-content {
  ::slotted([slot='append-input']) {
    margin-left: var(--mg-inputs-spacer);
  }
  &:not(.mg-input--readonly) ::slotted([slot='append-input']) {
    padding-top: calc((var(--default-size) - var(--mg-icon-regular-size)) / 2);
  }
}
