@use '../styles/mg-input.scss';
@use '../styles/mg-input-box.scss';
@use '../styles/mg-input-width.scss';
@use '../../../../styles/a11y.scss';

.mg-input__box {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
