/**
 * Common style for MGDIS inputs
 */

.mg-input {
  // Display
  display: flex;
  align-items: baseline;

  /**
  * Label
  */

  mg-label {
    margin-right: var(--mg-inputs-spacer);
    text-align: end;
  }

  // Display label on top
  &.is-label-on-top {
    flex-direction: column;

    mg-label {
      margin-right: 0;
      margin-bottom: 0.3rem;
      text-align: start;
    }
  }

  /**
   * Input style
   */
  input[type='text'],
  input[type='date'],
  textarea,
  select {
    // Display
    padding: calc((var(--default-size) - var(--font-size-base) * var(--line-height)) / 2) var(--mg-inputs-spacer);
    height: var(--default-size);
    box-sizing: border-box;
    // Decoration
    border-width: var(--mg-inputs-border-width);
    border-style: solid;
    border-color: var(--mg-inputs-color);
    border-radius: var(--mg-inputs-border-radius);
    // Font
    font-family: var(--font-family-body);
    color: hsl(var(--color-dark));
    font-size: var(--font-size-base);

    // placeholder
    &::placeholder {
      color: var(--mg-inputs-color);
      font-style: italic;
    }

    &:focus {
      box-shadow: 0 0 0.6rem hsla(var(--mg-inputs-color-shadow-focus-hsl), 0.5);
    }
  }

  select {
    padding: 0 var(--mg-inputs-spacer);
  }

  /**
   * Tooltip
   */
  mg-tooltip {
    margin-left: var(--mg-inputs-spacer);
  }

  /**
   * Manage space between input and first message
   */
  .mg-input__input-container__input {
    & + mg-character-left,
    & + .mg-input__input-container__help-text,
    & + .mg-input__input-container__error {
      margin-top: 0.5rem;
    }
  }

  /**
   * Character left
   */
  mg-character-left {
    display: none;
    margin-top: 0.5rem;
  }

  &.is-focused {
    mg-character-left {
      display: block;
    }
  }

  /**
   * Style when input is not valid
   */
  &.is-not-valid {
    color: hsl(var(--color-danger));
    input {
      border-color: hsl(var(--color-danger));
    }
  }

  /**
   * Workaround to baseline align label with textarea
   */
  &.mg-input--textarea {
    align-items: flex-start;
    mg-label {
      margin-top: calc((2 * var(--mg-inputs-border-width) + var(--default-size) - var(--font-size-base) * var(--line-height)) / 2);
    }
    textarea {
      height: auto;
      & + mg-tooltip {
        margin-top: calc((2 * var(--mg-inputs-border-width) + var(--default-size) - var(--font-size-base) * var(--line-height)) / 2);
        vertical-align: top;
      }
    }
  }
}
