@import '../../../styles/a11y.scss';

/* Variables */
$mg-badge-border-width: 0.1rem;

/* Mixins */
@mixin badge-variant($name, $backgroundColor, $color) {
  &.mg-badge--#{$name} {
    // Decoration
    background-color: hsl(var(--color-#{$backgroundColor}));
    border-color: hsl(var(--color-#{$backgroundColor}));
    // Font
    color: hsl(var(--color-#{$color}));

    &.mg-badge--outline {
      // Decoration
      background-color: transparent;
      // Font
      color: hsl(var(--color-#{$backgroundColor}));
    }
  }
}

/* Styles */
.mg-badge {
  // Display
  padding: 0 0.4rem;
  height: var(--mg-badge-size);
  min-width: var(--mg-badge-size);
  box-sizing: border-box;
  // Decoration
  border: $mg-badge-border-width solid;
  border-radius: calc(var(--mg-badge-size) / 2);
  // Font
  font-size: var(--mg-badge-font-size);
  font-weight: 600;
  text-align: center;
  line-height: var(--mg-badge-size);

  // Variant
  @include badge-variant('primary', 'dark', 'light');
  @include badge-variant('secondary', 'light', 'dark');
  @include badge-variant('success', 'success', 'dark');
  @include badge-variant('warning', 'warning', 'dark');
  @include badge-variant('danger', 'danger', 'light');
  @include badge-variant('info', 'info', 'light');
}

.mg-badge,
mg-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
