$position-size: 0.9rem;
$arrow-height: 1rem;
$arrow-width: 3rem;
$border-arrow-head: $arrow-height solid hsl(var(--mg-popover-background-color));
$border-arrow-side: calc(#{$arrow-width} / 2) solid transparent;

:host {
  --mg-card-padding: 1.5rem;
  --mg-card-border: none;
  --mg-card-border-radius: 0.5rem;
  --mg-card-background: hsl(var(--mg-popover-background-color));
  position: relative;

  display: contents;
  &::slotted(*) {
    display: inline-block;
  }
}

.mg-popover {
  display: none;
  z-index: 2000;
  color: hsl(var(--mg-popover-font-color));

  mg-card {
    position: relative;
    z-index: -1;
  }

  &[data-show] {
    display: block;
  }

  mg-button {
    float: right;
    margin-right: calc(0rem - (var(--default-size) - var(--mg-icon-regular-size)) / 2); // Without unit (rem) the value can not be negative
    margin-top: calc(0rem - (var(--default-size) - var(--mg-popover-title-font-size) * var(--line-height)) / 2);
    margin-left: 3rem;
  }

  &__arrow {
    position: absolute;
    visibility: hidden;
    // Need to set the max size to ensure it will be well centered
    width: calc($arrow-width + 2 * var(--mg-card-border-radius));
    height: calc($arrow-width + 2 * var(--mg-card-border-radius));

    &:before {
      visibility: visible;
      content: '';
      position: absolute;
    }
  }

  &[data-popper-placement^='top'] > &__arrow,
  &[data-popper-placement^='bottom'] > &__arrow {
    height: $arrow-height;

    &:before {
      left: var(--mg-card-border-radius);
      border-right: $border-arrow-side;
      border-left: $border-arrow-side;
    }
  }

  &[data-popper-placement^='top'] > &__arrow {
    bottom: -$position-size;
    filter: drop-shadow(0 calc(#{$position-size} / 2) calc(#{$position-size} / 4) hsl(var(--color-dark), 0.15));

    &:before {
      border-top: $border-arrow-head;
    }
  }

  &[data-popper-placement^='bottom'] > &__arrow {
    top: -$position-size;
    filter: drop-shadow(0 calc(#{-$position-size} / 2) calc(#{$position-size} / 4) hsl(var(--color-dark), 0.15));

    &:before {
      border-bottom: $border-arrow-head;
    }
  }

  &[data-popper-placement^='left'] > &__arrow,
  &[data-popper-placement^='right'] > &__arrow {
    width: $arrow-height;

    &:before {
      top: var(--mg-card-border-radius);
      border-top: $border-arrow-side;
      border-bottom: $border-arrow-side;
    }
  }

  &[data-popper-placement^='left'] > &__arrow {
    right: -$position-size;
    filter: drop-shadow(calc(#{$position-size} / 2) 0 calc(#{$position-size} / 4) hsl(var(--color-dark), 0.15));

    &:before {
      border-left: $border-arrow-head;
    }
  }

  &[data-popper-placement^='right'] > &__arrow {
    left: -$position-size;
    filter: drop-shadow(calc(#{-$position-size} / 2) 0 calc(#{$position-size} / 4) hsl(var(--color-dark), 0.15));

    &:before {
      border-right: $border-arrow-head;
    }
  }

  &__title ::slotted([slot='title']) {
    margin: 0 0 1rem !important;
    font-size: var(--mg-popover-title-font-size) !important;
    font-weight: 600;
  }
}
