$mg-popover-padding-vertical: var(--mg-popover-padding-vertical, 1.5rem);

:host {
  --mg-card-padding: $mg-popover-padding-vertical var(--mg-popover-padding-horizontal, $mg-popover-padding-vertical);
  --mg-card-border: none;
  --mg-card-border-radius: 0.5rem;
  --mg-card-background: hsl(var(--mg-popover-background-color));
  position: relative;

  display: contents;
  &::slotted(*) {
    display: inline-block;
  }
}

.mg-popover {
  display: none;
  z-index: 2000;
  color: hsl(var(--mg-popover-font-color));

  mg-card {
    z-index: -1;
  }

  &[data-show] {
    display: block;
  }

  mg-button {
    float: right;
    margin-right: calc(0rem - (var(--default-size) - var(--mg-icon-regular-size)) / 2); // Without unit (rem) the value can not be negative
    margin-top: calc(0rem - (var(--default-size) - var(--mg-popover-title-font-size) * var(--line-height)) / 2);
    margin-left: 3rem;
  }

  &__arrow,
  &__arrow::before {
    // Display
    position: absolute;
    width: 2rem;
    height: 2rem;
    z-index: 2000;
    // Decoration
    background: hsl(var(--mg-popover-background-color));
  }

  &__arrow {
    visibility: hidden;
  }

  &__arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
  }

  &[data-popper-placement^='top'] > &__arrow {
    bottom: -6px;
  }

  &[data-popper-placement^='bottom'] > &__arrow {
    top: -6px;
  }

  &[data-popper-placement^='left'] > &__arrow {
    right: -6px;
  }

  &[data-popper-placement^='right'] > &__arrow {
    left: -6px;
  }

  &__title ::slotted([slot='title']) {
    margin: 0 0 1rem !important;
    font-size: var(--mg-popover-title-font-size) !important;
    font-weight: 600;
  }
}
