@import '../../../../styles/mixins/navigation-button.scss';

$navigation-button-sizes: (
  'regular': (
    'vertical': 1rem,
    'horizontal': 2rem,
  ),
  'medium': (
    'vertical': 1.5rem,
    'horizontal': 3rem,
  ),
  'large': (
    'vertical': 2.5rem,
    'horizontal': 4rem,
  ),
);

@include navigation-button('mg-menu-item', $navigation-button-sizes);

:host {
  position: relative;
  display: block;
}

:host(.mg-menu-item--last) .mg-menu-item__collapse-container {
  left: unset;
  right: 0;
}

:host(.mg-menu-item--vertical) {
  .mg-menu-item {
    &__collapse-container {
      left: unset;
      top: unset;
      position: unset;
      width: unset;
    }
    &__navigation-button-chevron {
      margin-left: auto;
    }
  }
}

:host(.mg-menu-item--horizontal) .mg-menu-item__collapse-container.mg-menu-item__collapse-container--shadow {
  box-shadow: var(--box-shadow);
}

.mg-menu-item__collapse-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
}
