/**
 * Open Sans
 * https://fonts.google.com/specimen/Open+Sans
 */

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

/**
 * Poppins
 * https://fonts.google.com/specimen/Poppins
 */

@font-face {
  font-family: 'Poppins';
  font-weight: bold;
  src: url('fonts/Poppins-Bold.ttf') format('truetype');
}
