/**
 * IE fixes goes here
 * Will be removed when IE11 not supperted anymore by the company (June 15th 2022)
 * https://gitlab.mgdis.fr/core/core-ui/mg-components/-/issues/21
 */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .mg-group-elements {
    & > *:not(:last-child) {
      margin-right: 1rem !important;
    }
  }
  .mg-input__toggle-item-container:first-of-type {
    background-color: hsl(var(--color-info)) !important;
    color: hsl(var(--color-light)) !important;
  }
  .mg-input.mg-input--toggle-is-active,
  .mg-input.mg-input--toggle-is-active.mg-input--toggle-on-off {
    .mg-input__toggle-item-container {
      &:first-of-type {
        background: none !important;
        font-weight: 200 !important;
        color: hsl(var(--color-dark)) !important;
      }
      &:last-of-type {
        background-color: hsl(var(--color-info)) !important;
        color: hsl(var(--color-light)) !important;
      }
    }
    &.mg-input--toggle-readonly .mg-input__toggle-item-container:last-of-type {
      display: block !important;
    }
  }
  .mg-input.mg-input--toggle-on-off .mg-input__toggle-item-container:first-of-type {
    background-color: hsl(var(--color-dark)) !important;
    color: hsl(var(--color-light)) !important;
  }
  .mg-tabs-header__button {
    &:hover,
    &:focus {
      color: hsl(var(--color-info)) !important;
      border-bottom-color: hsl(var(--color-info)) !important;
      font-weight: 700 !important;
    }
    mg-icon {
      margin-right: 0.5rem;
    }
    mg-tag {
      margin-left: 0.5rem;
    }
  }

  .mg-modal {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
