/**
 * IE fixes goes here
 * Will be removed when IE11 not supperted anymore by the company (June 15th 2022)
 * https://gitlab.mgdis.fr/core/core-ui/mg-components/-/issues/21
 */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* UTILS */
  .mg-group-elements {
    & > *:not(:last-child) {
      margin-right: 1rem !important;
    }
  }

  /* MG-INPUT-TOGGLE */
  .mg-input__toggle-item-container:first-of-type {
    background-color: hsl(var(--color-info)) !important;
    color: hsl(var(--color-light)) !important;
  }
  .mg-input.mg-input--toggle-is-active,
  .mg-input.mg-input--toggle-is-active.mg-input--toggle-on-off {
    .mg-input__toggle-item-container {
      &:first-of-type {
        background: none !important;
        font-weight: 200 !important;
        color: hsl(var(--color-dark)) !important;
      }
      &:last-of-type {
        background-color: hsl(var(--color-info)) !important;
        color: hsl(var(--color-light)) !important;
      }
    }
    &.mg-input--toggle-readonly .mg-input__toggle-item-container:last-of-type {
      display: block !important;
    }
  }
  .mg-input.mg-input--toggle-on-off .mg-input__toggle-item-container:first-of-type {
    background-color: hsl(var(--color-dark)) !important;
    color: hsl(var(--color-light)) !important;
  }

  /* MG-TABS */
  .mg-tabs__navigation-button {
    &:hover,
    &:focus {
      color: hsl(var(--color-info)) !important;
      border-bottom-color: hsl(var(--color-info)) !important;
      font-weight: 700 !important;
    }
    mg-icon {
      margin-right: 0.5rem;
    }
    mg-badge {
      margin-left: 0.5rem;
    }
  }

  .mg-modal {
    background-color: rgba(0, 0, 0, 0.5);
  }
  /* MG-INPUT-CHECKBOX */
  /* MG-INPUT-RADIO */
  .mg-input__input-group:not(:last-child) {
    margin-right: 1rem !important;
  }

  /* MG-FORM */
  .mg-form,
  .mg-form-group {
    .mg-input {
      margin-bottom: 1.5rem !important;
    }

    mg-input-title {
      width: 15rem !important;
      margin-right: 3rem !important;
      flex-shrink: 0 !important;

      legend {
        display: inline;
        text-align: right;
      }
    }

    &.mg-form--all-required .mg-input-title__required {
      display: none;
    }
  }
}
