// Helper to manage space between elements
.mg-group-elements {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;

  // remove default margin
  & > * {
    margin: 0 !important; // I would say important is allowed in utility classes ?
  }

  // Align button on right side
  &.mg-group-elements--align-right {
    justify-content: flex-end;
  }
}

.no-padding {
  padding: 0;
}
