:root {
  /**
   * Colors
   * https://jira.mgdis.fr/browse/PDA9-690
   */

  // Dark
  // #fefefe;
  // rgb(254, 254, 254);
  --color-neutral-h: 0;
  --color-neutral-s: 0%;
  --color-neutral-l: 99.6%;
  --color-neutral: var(--color-neutral-h), var(--color-neutral-s), var(--color-neutral-l);

  // Warning
  --color-warning: 41, 100%, 62.2%; // 255, 195, 62; // #ffc33e

  // Success
  --color-success: 159, 66%, 51.6%; // 50, 213, 156; // #32d59c

  // Info
  // #005e9c;
  // rgb(0, 94, 156);
  --color-info-h: 204;
  --color-info-s: 100%;
  --color-info-l: 30.6%;
  --color-info: var(--color-info-h), var(--color-info-s), var(--color-info-l);

  // Danger
  // #df242c;
  // rgb(223, 36, 44);
  --color-danger-h: 357;
  --color-danger-s: 74.5%;
  --color-danger-l: 50.8%;
  --color-danger: var(--color-danger-h), var(--color-danger-s), var(--color-danger-l);

  // Dark
  // #15282e;
  // rgb(21, 40, 46);
  --color-dark-h: 194;
  --color-dark-s: 37.3%;
  --color-dark-l: 13.1%;
  --color-dark: var(--color-dark-h), var(--color-dark-s), var(--color-dark-l);

  // Font colors

  --color-font-light: 0, 0%, 100%; //255, 255, 255; // white
  --color-font-dark: var(--color-dark);

  /**
   * Fonts
   */
  --font-size-base: 1.3rem;
  --line-height: 1.4;

  /**
   * Inputs
   */
  --default-size: 3.5rem;

  /**
   * <mg-icon>
   */
  --mg-icon-small-size: 1rem;
  --mg-icon-regular-size: 1.5rem;
  --mg-icon-large-size: 2rem;

  /**
   * <mg-button>
   */

  --mg-button-disabled-opacity: 0.6;

  // Primary
  --mg-button-primary-background-color: var(--color-dark);
  --mg-button-primary-background-second-color: var(--color-dark-h), var(--color-dark-s), calc(var(--color-dark-l) + 10%);
  --mg-button-primary-font-color: var(--color-neutral);
  --mg-button-primary-border-color: var(--color-dark);
  --mg-button-primary-hover-color: var(--color-dark);

  // Secondary
  --mg-button-secondary-background-color: var(--color-neutral-h), var(--color-neutral-s), calc(var(--color-neutral-l) - 10%);
  --mg-button-secondary-background-second-color: var(--color-neutral);
  --mg-button-secondary-font-color: var(--color-dark);
  --mg-button-secondary-border-color: var(--mg-button-secondary-background-color);
  --mg-button-secondary-hover-color: var(--color-neutral);

  // Danger
  --mg-button-danger-background-color: var(--color-danger-h), var(--color-danger-s), calc(var(--color-danger-l) - 10%);
  --mg-button-danger-background-second-color: var(--color-danger);
  --mg-button-danger-font-color: var(--color-neutral);
  --mg-button-danger-border-color: var(--mg-button-danger-background-color);
  --mg-button-danger-hover-color: var(--color-danger);

  // Danger Alt
  --mg-button-danger-alt-background-color: var(--mg-button-secondary-background-color);
  --mg-button-danger-alt-background-second-color: var(--mg-button-secondary-background-second-color);
  --mg-button-danger-alt-font-color: var(--color-danger);
  --mg-button-danger-alt-border-color: var(--mg-button-secondary-border-color);
  --mg-button-danger-alt-hover-color: var(--mg-button-secondary-background-second-color);

  // Info
  --mg-button-info-background-color: var(--color-info);
  --mg-button-info-background-second-color: var(--color-info-h), var(--color-info-s), calc(var(--color-info-l) + 10%);
  --mg-button-info-font-color: var(--color-neutral);
  --mg-button-info-border-color: var(--color-info);
  --mg-button-info-hover-color: var(--color-info);

  /**
   * <mg-message>
   */
  --mg-message-border-radius: 0.3rem;

  /****************************************************************************************************
   * ! NEEDS TO BE CHANGED AFTER THIS LINE
   ****************************************************************************************************/

  /**
   * Tags
   */

  --tag-product-background-color: #005e9c;
  --tag-product-font-color: #fff;
  --tag-success-background-color: #8aea78;
  --tag-success-font-color: #152126;
  --tag-warning-background-color: #ffc33e;
  --tag-warning-font-color: #152126;
  --tag-danger-background-color: #df242c;
  --tag-danger-font-color: #fff;
  --tag-draft-background-color: #fff;
  --tag-draft-font-color: #152126;

  /**
   * Fonts
   */

  // Open Sans is used for the body (mostly all texts)
  --font-family-body: 'Open Sans', sans-serif;

  // Poppins is used for the headings (h1 to h6)
  --font-family-heading: 'Poppins', sans-serif;
}
