:root {
  /*
    Fonts
  */

  --font-size: 1.3rem;
  --line-height: 1.4;

  /* Open Sans is used for the body (mostly all texts) */
  --font-family: 'Open Sans', sans-serif;

  /* Headings (h1 to h6) font can be customized */
  --font-family-heading: var(--font-family);

  /* Font colors */
  --color-font-light: var(--color-light);
  --color-font-dark: var(--color-dark);
  /*
    Colors
    https://jira.mgdis.fr/browse/PDA9-690
   */

  /* Neutral */
  /* #fefefe; */
  /* rgb(254, 254, 254); */
  --color-neutral-h: 0;
  --color-neutral-s: 0%;
  --color-neutral-l: 99.6%;
  --color-neutral: var(--color-neutral-h), var(--color-neutral-s), var(--color-neutral-l);

  /* Warning */
  /* #ffc33e */
  /* rgb(255, 195, 62); */
  --color-warning-h: 41;
  --color-warning-s: 100%;
  --color-warning-l: 62.2%;
  --color-warning: var(--color-warning-h), var(--color-warning-s), var(--color-warning-l);

  /* Success */
  /* #32d59c */
  /* rgb(50, 213, 156); */
  --color-success-h: 159;
  --color-success-s: 66%;
  --color-success-l: 51.6%;
  --color-success: var(--color-success-h), var(--color-success-s), var(--color-success-l);

  /* Info */
  /* #005e9c; */
  /* rgb(0, 94, 156); */
  --color-info-h: 204;
  --color-info-s: 100%;
  --color-info-l: 30.6%;
  --color-info: var(--color-info-h), var(--color-info-s), var(--color-info-l);

  /* Danger */
  /* #db1f29; */
  /* rgb(219, 31, 41); */
  --color-danger-h: 357;
  --color-danger-s: 75%;
  --color-danger-l: 49%;
  --color-danger: var(--color-danger-h), var(--color-danger-s), var(--color-danger-l);

  /* Dark */
  /* #15282e; */
  /* rgb(21, 40, 46); */
  --color-dark-h: 194;
  --color-dark-s: 37.3%;
  --color-dark-l: 13.1%;
  --color-dark: var(--color-dark-h), var(--color-dark-s), var(--color-dark-l);

  /* Light */
  /* white; (#ffffff) */
  /* rgb(255, 255, 255); */
  --color-light-h: 0;
  --color-light-s: 0%;
  --color-light-l: 100%;
  --color-light: var(--color-light-h), var(--color-light-s), var(--color-light-l);

  /* Primary */
  --color-primary-h: hsl(var(--color-dark-h));
  --color-primary-s: hsl(var(--color-dark-s));
  --color-primary-l: hsl(var(--color-dark-l));
  --color-primary: hsl(var(--color-dark));

  /* Secondary */
  --color-secondary-h: hsl(var(--color-neutral-h));
  --color-secondary-s: hsl(var(--color-neutral-s));
  --color-secondary-l: hsl(var(--color-neutral-l));
  --color-secondary: hsl(var(--color-neutral));

  /* Shadow */
  --box-shadow: 0 0.3rem 0.8rem 0 rgba(0, 0, 0, 0.1);

  /*
    Global
   */
  --default-size: 3.5rem;

  /*
    <mg-icon>
   */
  --mg-icon-small-size: 1.2rem;
  --mg-icon-regular-size: 1.6rem;
  --mg-icon-large-size: 2.4rem;
  --mg-icon-extra-large-size: 3.6rem;

  /*
    <mg-button>
   */

  --mg-button-border-radius: 0.3rem;
  --mg-button-icon-border-radius: var(--default-size);
  --mg-button-disabled-opacity: 0.6;
  --mg-button-gradient: 1; /* Can only be 1 or 0 to enable disable gradient */
  --mg-button-border-variation: 1; /* Can only be 1 or 0 to enable disable border variation */

  /* Primary */
  --mg-button-primary-color-h: var(--color-dark-h);
  --mg-button-primary-color-s: var(--color-dark-s);
  --mg-button-primary-color-l: var(--color-dark-l);
  --mg-button-primary-font-color: var(--color-neutral);

  /* Secondary */
  --mg-button-secondary-color-h: var(--color-neutral-h);
  --mg-button-secondary-color-s: var(--color-neutral-s);
  --mg-button-secondary-color-l: var(--color-neutral-l);
  --mg-button-secondary-font-color: var(--color-dark);

  /*
    <mg-tag>
   */
  --mg-tag-height: 2.3rem;
  --mg-tag-border-radius: 0.5rem;
  --mg-tag-font-size: 1.2rem;

  /*
  <mg-badge>
  */
  --mg-badge-size: 1.6rem;
  --mg-badge-font-size: 1.1rem;

  /*
    <mg-tooltip>
   */
  --mg-tooltip-border-radius: 0.5rem;
  --mg-tooltip-background-color: var(--color-dark);
  --mg-tooltip-font-color: var(--color-font-light);

  /*
    <mg-popover>
   */
  --mg-popover-background-color: var(--color-light);
  --mg-popover-font-color: var(--color-font-dark);
  --mg-popover-title-font-size: 1.4rem;

  /*
    <mg-message>
   */
  --mg-message-border-radius: 0.3rem;

  /*
    <mg-modal>
   */
  --mg-modal-border-radius: 0.5rem;
  --mg-modal-title-font-size: 1.8rem;
  --mg-modal-content-font-size: 1.2rem;

  /*
    <mg-panel>
   */
  --mg-panel-border-radius: 0.5rem;
  --mg-panel-background: var(--color-info-h) var(--color-info-s) calc(var(--color-info-l) + 68%);
  --mg-panel-box-shadow: var(--box-shadow);
  --mg-panel-content-padding: 1.5rem;

  /*
    <mg-illustrated-message>
   */
  --mg-illustrated-message-padding-vertical: 4rem;

  /*
    <mg-divider>
  */
  --mg-divider-background-color: hsla(var(--color-dark), 15%);
  --mg-divider-thickness: 0.1rem;
  --mg-divider-vertical-spacing: 4rem;

  /*
    Layout
   */
  --mg-grid-spacing: 1rem;

  /*
    Forms
   */

  /*
    <mg-input-...>
   */
  --mg-inputs-border-width: 0.1rem;
  --mg-inputs-border-radius: 0.3rem;
  --mg-inputs-color: #b5c2c9;
  --mg-inputs-spacer: 1rem;

  /* Error message background */
  --mg-inputs-error-bg-color: var(--color-danger-h), calc(var(--color-danger-s) + 5%), calc(var(--color-danger-l) + 49%);

  /* Input focus shadow */
  /* #b5c2c9 */
  /* rgb(0, 221, 255); */
  /* hsl(188, 100%, 50%); */
  --mg-inputs-color-shadow-focus-hsl: 188, 100%, 50%;

  /*
    <mg-input-toggle>
  */
  --mg-input-toggle-border-radius-ratio: 2;

  /*
    <mg-input-checkbox>
    <mg-input-radio>
   */
  --mg-input-check-size: 1.3rem;
}
