:root {
  /**
   * Colors
   * FOR NOW, colors are based on http://outils.oceanie.local/maquette/design-guidelines/services-ux/design-system/page-color.html
   */

  // Product
  --color-product-primary: #3a9742;
  --color-product-primary-light: #b5cb31;
  --color-product-secondary: #005e9c;
  --color-product-secondary-light: #3fa1d0;

  // Greys
  --color-black: #000;
  --color-gray-darker: #15282e;
  --color-gray-dark: #2b515d;
  --color-gray: #6d777c;
  --color-gray-light: #b5c2c9;
  --color-gray-lighter: #dde3e6;
  --color-white: #fff;

  // Usefull
  --color-danger: #df242c;
  --color-warning: #f78f2e;
  --color-product: #005e9c;
  --color-info: #5bc0de;
  --color-success: #00af69;

  // Font
  --font-size-base: 1.3rem;

  /**
   * Inputs
   */
  --input-height: 3.5rem;

  /**
   * Buttons
   * TODO: set colors as variables
   * TODO: disabled seems to be the same style for all button, group then after confirmation
   */

  // Primary
  --button-primary-background-from: #22404a;
  --button-primary-background-to: #000;
  --button-primary-color: #ebebeb;
  --button-primary-border-color: #15282e;

  --button-primary-hover-background: #0e1b1f;
  --button-primary-hover-color: #fff;
  --button-primary-hover-border-color: #15282e;

  --button-primary-disabled-background-from: #fff;
  --button-primary-disabled-background-to: #ebebeb;
  --button-primary-disabled-color: #011b21;
  --button-primary-disabled-opacity: 0.45;
  --button-primary-disabled-border-color: #d4dbde;

  // secondary
  --button-secondary-background-from: #fefefe;
  --button-secondary-background-to: #ebebeb;
  --button-secondary-color: #15282e;
  --button-secondary-border-color: #d4dbde;

  --button-secondary-hover-background: #f1f1f1;
  --button-secondary-hover-color: #000000;
  --button-secondary-hover-border-color: #d4dbde;

  --button-secondary-disabled-background-from: #fff;
  --button-secondary-disabled-background-to: #ebebeb;
  --button-secondary-disabled-color: #011b21;
  --button-secondary-disabled-opacity: 0.45;
  --button-secondary-disabled-border-color: #d4dbde;

  // alert
  --button-alert-background-from: #df242c;
  --button-alert-background-to: #bc050d;
  --button-alert-color: #ebebeb;
  --button-alert-border-color: #df242c;

  --button-alert-hover-background: #cb131b;
  --button-alert-hover-color: #ffffff;
  --button-alert-hover-border-color: #df242c;

  --button-alert-disabled-background-from: #fff;
  --button-alert-disabled-background-to: #ebebeb;
  --button-alert-disabled-color: #011b21;
  --button-alert-disabled-opacity: 0.45;
  --button-alert-disabled-border-color: #d4dbde;

  // alert-alt
  --button-alert-alt-background-from: #fefefe;
  --button-alert-alt-background-to: #ebebeb;
  --button-alert-alt-color: #df0e17;
  --button-alert-alt-border-color: #d8d8d8;

  --button-alert-alt-hover-background: #f1f1f1;
  --button-alert-alt-hover-color: #c6333a;
  --button-alert-alt-hover-border-color: #d8d8d8;

  --button-alert-alt-disabled-background-from: #fff;
  --button-alert-alt-disabled-background-to: #ebebeb;
  --button-alert-alt-disabled-color: #011b21;
  --button-alert-alt-disabled-opacity: 0.45;
  --button-alert-alt-disabled-border-color: #d4dbde;

  // info
  --button-info-background-from: #0074be;
  --button-info-background-to: #005e9c;
  --button-info-color: #ebebeb;
  --button-info-border-color: #005e9c;

  --button-info-hover-background: #0068ac;
  --button-info-hover-color: #fff;
  --button-info-hover-border-color: #005e9c;

  --button-info-disabled-background-from: #fff;
  --button-info-disabled-background-to: #ebebeb;
  --button-info-disabled-color: #011b21;
  --button-info-disabled-opacity: 0.45;
  --button-info-disabled-border-color: #d4dbde;

  /**
   * Tags
   */

  --tag-product-background-color: #005e9c;
  --tag-product-font-color: #fff;
  --tag-success-background-color: #8aea78;
  --tag-success-font-color: #152126;
  --tag-warning-background-color: #ffc33e;
  --tag-warning-font-color: #152126;
  --tag-danger-background-color: #df242c;
  --tag-danger-font-color: #fff;
  --tag-draft-background-color: #fff;
  --tag-draft-font-color: #152126;

  /**
   * Fonts
   */

  // Open Sans is used for the body (mostly all texts)
  --font-family-body: 'Open Sans', sans-serif;

  // Poppins is used for the headings (h1 to h6)
  --font-family-heading: 'Poppins', sans-serif;
}
