.mg-input {
  // Display
  display: flex;
  align-items: baseline;

  .mg-input__input-container {
    input {
      min-height: var(--input-height);
      box-sizing: border-box;
    }
  }

  /**
   * Display label on top
   */

  &.label-on-top {
    flex-direction: column;
  }

  /**
   * Show hide nb char left ans help text on focus
   */
  mg-character-left,
  mg-help-text:not(.error) {
    display: none;
  }

  &.focus {
    mg-character-left,
    mg-help-text:not(.error) {
      display: initial;
    }
  }

  /**
   * Style when input is invalid
   */
  &.invalid {
    color: red;
    input {
      border: 1px solid red;
    }
  }
}
