@use '../../../styles/form.scss';

.mg-form,
.mg-form-group {
  --mg-inputs-margin-bottom: 1.5rem;
  --mg-inputs-title-horizontal-space: 3rem;
  --mg-inputs-title-width: 15rem;
  --mg-inputs-shrink: 0;

  &.mg-form--all-required {
    --mg-input-title-display: none;
  }

  & > p {
    font-size: 1.2rem;
  }
}
