@mixin button-state($variant, $state: '') {
  @if $state != '' {
    $state: -#{$state};
  }
  // Decoration
  border-color: var(--button-#{$variant}#{$state}-border-color);
  // Font
  color: var(--button-#{$variant}#{$state}-color);
}

@mixin button-variant($variant) {
  @include button-state($variant);
  background: linear-gradient(to bottom, var(--button-#{$variant}-background-from), var(--button-#{$variant}-background-to));

  // Hover
  &:hover,
  &:focus,
  &:active {
    @include button-state($variant, 'hover');
    background: var(--button-#{$variant}-hover-background);
  }

  // Disabled
  &[disabled],
  &.disabled {
    @include button-state($variant, 'disabled');
    background: linear-gradient(to bottom, var(--button-#{$variant}-disabled-background-from), var(--button-#{$variant}-disabled-background-to));
    opacity: var(--button-#{$variant}-disabled-opacity);
  }
}

@mixin button-variants($variants...) {
  @each $variant in $variants {
    &.mg-button--#{$variant} {
      @include button-variant($variant);
    }
  }
}

.mg-button {
  // Display
  display: inline-block;
  min-height: 3.5rem;
  padding: 0.6rem 1.2rem;
  vertical-align: middle;
  // Decoration
  border-radius: 0.3rem;
  cursor: pointer;
  background-image: none;
  border: 0.1rem solid transparent;
  // Font
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  // Other
  touch-action: manipulation;

  &[disabled],
  &.disabled {
    cursor: not-allowed;
  }

  @include button-variants('primary', 'secondary', 'alert', 'alert-alt', 'info');
}

mg-button {
  mg-icon {
    margin-right: 0.5rem;
  }
  & + mg-button {
    margin-left: 1rem;
  }
}
