/* Variables */
$mg-button-border-width: 0.1rem;
$mg-button-padding-horizontal: 1.1rem;
$button-column-gap: 0.6rem;

/* Mixins */
@mixin style-gradient($name, $backgroundColor, $fontColor, $hasVariable: false) {
  @if $hasVariable {
    $backgroundColor: --mg-button-#{$name}-color;
    $fontColor: --mg-button-#{$name}-font-color;
  } @else {
    $backgroundColor: --color-#{$backgroundColor};
    $fontColor: --color-#{$fontColor};
  }
  .mg-button.mg-button--#{$name} {
    // Decoration
    border-color: hsl(
      var(
        #{--mg-button-#{$name}-border-color},
        (var(#{$backgroundColor}-h), var(#{$backgroundColor}-s), calc(var(#{$backgroundColor}-l) - var(--mg-button-border-variation) * 10%))
      )
    );
    // Font
    color: hsl(var(#{$fontColor}));
    // Background
    background: linear-gradient(
      to bottom,
      hsl(var(#{$backgroundColor}-h), var(#{$backgroundColor}-s), var(#{$backgroundColor}-l)),
      hsl(var(#{$backgroundColor}-h), var(#{$backgroundColor}-s), calc(var(#{$backgroundColor}-l) - var(--mg-button-gradient) * 10%))
    );
  }
  // Only apply if not disabled
  :host(:hover),
  :host(:focus),
  :host(:active) {
    .mg-button--#{$name}:not(.mg-button--disabled) {
      background: hsl(var(#{$backgroundColor}-h), var(#{$backgroundColor}-s), var(#{$backgroundColor}-l));
    }
  }
}

@mixin font-style() {
  text-decoration: none;
  font-family: inherit;
  font-weight: var(--mg-button-font-weight, normal);
  text-align: left;
  font-size: var(--font-size);
}

:host {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

:host(:focus-visible) {
  outline: 0;
  // same style as chrome
  .mg-button:not(.mg-button--disabled) {
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0.2rem;
  }
}

// Only apply if not disabled
:host(:hover),
:host(:focus),
:host(:active) {
  .mg-button--flat:not(.mg-button--disabled) {
    background: hsla(var(--color-dark), 0.1);
  }
}

:host([full-width]) {
  display: block;
}

// Gradient style
@include style-gradient('primary', null, null, true);
@include style-gradient('secondary', null, null, true);
@include style-gradient('danger', 'danger', 'neutral');
@include style-gradient('danger-alt', 'neutral', 'danger');
@include style-gradient('info', 'info', 'neutral');
@include style-gradient('success', 'success', 'dark');

/* Styles */
.mg-button {
  // Display
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: $button-column-gap;
  padding: calc((var(--default-size) - (2 * $mg-button-border-width) - (var(--font-size) * var(--line-height))) / 2) $mg-button-padding-horizontal;
  min-height: var(--default-size);
  box-sizing: border-box;
  // Decoration
  border-top-right-radius: var(--mg-button-border-radius-top-right, var(--mg-button-border-radius));
  border-top-left-radius: var(--mg-button-border-radius-top-left, var(--mg-button-border-radius));
  border-bottom-right-radius: var(--mg-button-border-radius-bottom-right, var(--mg-button-border-radius));
  border-bottom-left-radius: var(--mg-button-border-radius-bottom-left, var(--mg-button-border-radius));
  cursor: pointer;
  background-image: none;
  border-top-width: var(--mg-button-border-top-width, $mg-button-border-width);
  border-right-width: var(--mg-button-border-right-width, $mg-button-border-width);
  border-bottom-width: var(--mg-button-border-bottom-width, $mg-button-border-width);
  border-left-width: var(--mg-button-border-left-width, $mg-button-border-width);
  border-style: solid;
  // Font (necessary for stylesheet only)
  @include font-style();
  // Other
  touch-action: manipulation;

  // Disabled style
  &.mg-button--disabled {
    opacity: var(--mg-button-disabled-opacity);
    cursor: default;
  }

  // Icon only button
  &.mg-button--icon {
    // Display
    padding: 0;
    justify-content: center;
    width: var(--default-size);
    height: var(--default-size);
    // Decoration
    border-top-right-radius: var(--mg-button-border-radius-top-right, var(--mg-button-icon-border-radius));
    border-top-left-radius: var(--mg-button-border-radius-top-left, var(--mg-button-icon-border-radius));
    border-bottom-right-radius: var(--mg-button-border-radius-bottom-right, var(--mg-button-icon-border-radius));
    border-bottom-left-radius: var(--mg-button-border-radius-bottom-left, var(--mg-button-icon-border-radius));
    // font
    font-size: var(--font-size);
    line-height: var(--font-size);
  }

  // Flat style
  &.mg-button--flat {
    background: none;
    border: none;
  }
  // full-width style
  &.mg-button--full-width {
    display: flex;
    justify-content: center;
  }

  // loading style
  &.mg-button--loading {
    > mg-icon:first-of-type {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    .mg-button__content {
      opacity: 0;
    }
  }

  mg-icon:only-child,
  ::slotted(mg-icon) {
    display: inline-flex;
    flex-shrink: 0;
    line-height: 1;
    margin: auto 0;
  }

  slot,
  ::slotted(*:not(mg-icon)) {
    // Font
    @include font-style();
    // Display
    display: flex;
    align-items: center;
    column-gap: $button-column-gap;
  }
}
