@import '../../../styles/mixins/navigation-button.scss';

$navigation-button-sizes: (
  'regular': (
    'vertical': 1rem,
    'horizontal': 2rem,
  ),
  'large': (
    'vertical': 1.5rem,
    'horizontal': 3rem,
  ),
);

@include navigation-button('mg-tabs', $navigation-button-sizes);

.mg-tabs {
  &__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__content-container:focus-visible {
    outline: none;
  }
  &__navigation-button-text {
    flex: 0 0 content;
  }
}
