@import '../../../styles/mixins/navigation-button.scss';

@include navigation-button('mg-tabs');

.mg-tabs__header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mg-tabs__content-container:focus-visible {
  outline: none;
}
