.mg-card {
  padding: var(--mg-card-padding);
  border-radius: var(--mg-card-border-radius);
  background: var(--mg-card-background);
  border: var(--mg-card-border);
  box-shadow: var(--mg-card-box-shadow);
}
