@import './styles/reset-slot-card-variables.mixin.scss';

.mg-card {
  // Display
  position: relative;
  width: 100%;
  padding: var(--mg-card-padding-override, var(--mg-card-padding));
  overflow: var(--mg-card-overflow-override, var(--mg-card-overflow));
  box-sizing: border-box;
  z-index: inherit;
  // Decoration
  background: var(--mg-card-background-override, var(--mg-card-background));
  border: var(--mg-card-border-override, var(--mg-card-border));
  border-radius: var(--mg-card-border-radius-override, var(--mg-card-border-radius));
  box-shadow: var(--mg-card-box-shadow-override, var(--mg-card-box-shadow));

  @include reset-slot-card-variables();
}
