@use '../styles/mg-input.scss';
@use '../styles/mg-input-box.scss';
@use '../styles/mg-input-width.scss';
@use '../../../../styles/a11y.scss';

/* Component Custom Style */
.mg-input {
  .mg-input__box {
    height: auto;
    resize: none;
    &.mg-input__box--resizable {
      resize: both;
    }
    &.mg-input__box--resizable-horizontal {
      resize: horizontal;
    }
    &.mg-input__box--resizable-vertical {
      resize: vertical;
    }
  }

  /**
  * Character left
  */
  .mg-input__input {
    position: relative;

    mg-character-left {
      position: absolute;
      bottom: 0.5rem;
      right: 1rem;
      font-size: 1.1rem;
      opacity: 0.6;
    }
  }
}

/* Firefox selector */
@-moz-document url-prefix() {
  .mg-input__box {
    overflow-x: hidden; // remove Firefox bottom "phantom scrollbar" in textarea
  }
}
