@use '../styles/mg-input.scss';
@use '../../../../styles/a11y.scss';

/**
* Toogle
*/

// variables
$lightBlue: hsl(var(--color-info-h) calc(var(--color-info-s) - 64%) calc(var(--color-info-l) + 55%));
$lightDark: hsl(var(--color-dark-h) calc(var(--color-dark-s) - 30%) calc(var(--color-dark-l) + 75%));
$elementLineHeight: calc(var(--font-size-base) + 0.2rem);
$childElementPadding: 0.5rem;
$elementMinSize: calc(#{$elementLineHeight} + #{$childElementPadding} * 2);
$elementPadding: 0.2rem;

// mixins
@mixin mg-input-toggle__text-background($color) {
  content: '';
  position: absolute;
  background-color: $color;
  width: 100%;
  height: 100%;
}

// styles
.mg-input__button-toggle {
  margin-top: calc((var(--default-size) - (#{$elementMinSize} + #{$elementPadding} * 2 + var(--mg-inputs-border-width) * 2)) / 2);
  padding: $elementPadding;
  border-radius: calc(
    (#{$elementLineHeight} + #{$elementPadding} * 2 + #{$childElementPadding} * 2) / var(--mg-input-toggle-border-radius-ratio)
  ); // = (lineheight + element vertical-padding + child vertical-padding) / ratio
  line-height: $elementLineHeight;
}

.mg-input__toggle-item-container {
  padding: $childElementPadding 0;
  min-width: $elementMinSize;
  min-height: $elementMinSize;
}
.mg-input__toggle-item-container {
  &,
  &::before {
    border-radius: calc((#{$elementLineHeight} + #{$childElementPadding} * 2) / var(--mg-input-toggle-border-radius-ratio)); // = (lineheight + child vertical-padding) / ratio
  }
}

// icon variation
.mg-input.mg-input--toggle-icon .mg-input__toggle-item-container mg-icon {
  height: $elementLineHeight;
  width: $elementLineHeight;
}

// readonly variation
.mg-input.mg-input--toggle-readonly .mg-input__button-toggle {
  margin-top: calc((var(--default-size) - #{$elementMinSize}) / 2);
}

.mg-input__button-toggle {
  display: flex;
  overflow: hidden;
  &:not(.mg-input--toggle-readonly .mg-input__button-toggle) {
    background-color: hsl(var(--color-light));
    // border
    border-width: var(--mg-inputs-border-width);
    border-style: solid;
    border-color: var(--mg-inputs-color);
  }
}

.mg-input__toggle-item-container {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  // font
  &:first-of-type {
    color: hsl(var(--color-info));
    font-weight: 600;
  }
  &:last-of-type {
    color: hsl(var(--color-dark));
  }
  // slot
  & > * {
    z-index: 1;
    &:not(.mg-input--toggle-readonly .mg-input__toggle-item-container > *) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &:not(mg-icon) {
      padding: 0 0.9rem;
    }
  }
}

.mg-input.mg-input--toggle:not(.mg-input--toggle-icon) .mg-input__toggle-item-container:first-of-type::before {
  @include mg-input-toggle__text-background($lightBlue);
}

// toggle default active variation
.mg-input.mg-input--toggle-is-active {
  .mg-input__toggle-item-container {
    &:first-of-type {
      color: hsl(var(--color-dark));
      font-weight: unset;
    }
    &:last-of-type {
      font-weight: 600;
      color: hsl(var(--color-info));
    }
  }
  &:not(.mg-input--toggle-icon) .mg-input__toggle-item-container {
    &:first-of-type::before {
      content: unset;
    }
    &:last-of-type::before {
      @include mg-input-toggle__text-background($lightBlue);
    }
  }
}

// toggle icon variation
.mg-input.mg-input--toggle-icon {
  .mg-input__toggle-item-container {
    &:first-of-type {
      opacity: 1;
    }
    &:last-of-type {
      opacity: 0;
    }

    // slot
    > *:not(mg-icon) {
      padding: 0;
      margin-left: auto;
      margin-right: auto;
    }
    mg-icon {
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.mg-input--toggle-is-active .mg-input__toggle-item-container {
    &:first-of-type {
      background-color: unset;
      opacity: 0;
    }
    &:last-of-type {
      opacity: 1;
      background-color: $lightBlue;
    }
  }

  .mg-input__toggle-item-container:first-of-type {
    background-color: $lightBlue;
  }
}

// disabled variation
.mg-input.mg-input--toggle-disabled .mg-input__button-toggle {
  opacity: 30%;
}

// toggle on-off variation
.mg-input.mg-input--toggle-on-off {
  .mg-input__toggle-item-container:first-of-type {
    color: hsl(var(--color-dark));
  }

  &.mg-input--toggle-is-active {
    &:not(.mg-input--toggle-icon) .mg-input__toggle-item-container:first-of-type::before {
      content: unset;
    }

    &.mg-input--toggle-icon .mg-input__toggle-item-container:first-of-type {
      background: none;
    }
  }

  &:not(.mg-input--toggle-icon) {
    .mg-input__toggle-item-container:first-of-type::before {
      @include mg-input-toggle__text-background($lightDark);
    }
    &.mg-input--toggle-is-active .mg-input__toggle-item-container:first-of-type::before {
      content: unset;
    }
  }

  &.mg-input--toggle-icon .mg-input__toggle-item-container:first-of-type {
    background-color: $lightDark;
  }
}

// readonly variation
.mg-input.mg-input--toggle-readonly {
  .mg-input__button-toggle {
    background: none;
    border: none;
    overflow: hidden;
    padding: 0;
  }
  &:not(.mg-input--toggle-is-active) .mg-input__toggle-item-container:last-of-type {
    display: none;
  }
  &.mg-input--toggle-is-active .mg-input__toggle-item-container:first-of-type {
    display: none;
  }
}

// clicked variation - animation trigger
.mg-input.mg-input--toggle-clicked {
  &:not(.mg-input--toggle-icon) {
    .mg-input__toggle-item-container::before {
      // animation
      animation-timing-function: ease-in-out;
      animation-duration: 0.2s;
      animation-name: toggleUnactive;
    }
    &.mg-input--toggle-is-active .mg-input__toggle-item-container::before {
      // animation
      animation-name: toggleActive;
    }
  }
  &.mg-input--toggle-icon {
    .mg-input__toggle-item-container {
      // animation
      animation-timing-function: ease-in-out;
      animation-duration: 0.2s;
      animation-name: toggleUnactive;
    }
    &.mg-input--toggle-is-active .mg-input__toggle-item-container {
      // animation
      animation-name: toggleActive;
    }
  }
}

/**
  * Animations
  */

@keyframes toggleUnactive {
  from {
    transform: translateX(1.5em);
  }
  to {
    transform: translateX(0em);
  }
}

@keyframes toggleActive {
  from {
    transform: translateX(-1.5em);
  }
  to {
    transform: translateX(0em);
  }
}
