$header-spacing: 0.3rem;

.mg-panel {
  background-color: hsl(var(--mg-panel-background));
  border-radius: var(--mg-panel-border-radius);
  box-shadow: var(--box-shadow);
}

.mg-panel__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem 0 $header-spacing;
  align-items: flex-start;
}

.mg-panel__header-left,
.mg-panel__header-right {
  display: flex;
  margin: $header-spacing 0;
}

.mg-panel__header-left--full {
  flex: 1 1 auto;
}

.mg-panel__header-right {
  padding-left: $header-spacing;
  flex: 1 auto;
}

.mg-panel__header-left {
  mg-input-text {
    flex-grow: 1;
    margin-left: $header-spacing;
  }
  mg-button + mg-button:not([slot='append-input']) {
    margin-left: $header-spacing;
  }
}

.mg-panel__collapse-button-content {
  --font-size: 1.4rem;
  --mg-button-font-weight: 600;
}

.mg-panel__content {
  padding: var(--mg-panel-content-padding);
}

.mg-panel ::slotted([slot='header-right']) {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-left: auto;
}
