.mg-icon {
  &[size='small'],
  &.mg-icon--small {
    width: var(--mg-icon-small-size);
    height: var(--mg-icon-small-size);
  }

  &[size='regular'],
  &.mg-icon--regular {
    width: var(--mg-icon-regular-size);
    height: var(--mg-icon-regular-size);
  }

  &[size='large'],
  &.mg-icon--large {
    width: var(--mg-icon-large-size);
    height: var(--mg-icon-large-size);
  }
}

mg-icon,
.mg-icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

/**
* Loader
**/

.mg-icon.mg-icon--loader {
  animation-name: rotate;
  animation-duration: .75s;
  animation-iteration-count: infinite;
  .loader--opacity {
    opacity:.2;
  }
}

/**
* Animations
**/

@keyframes rotate {
  to { transform: rotate(360deg); }
}
