mg-icon,
.mg-icon {
  display: inline-block;
  vertical-align: middle;
  &[size='small'],
  &.mg-icon--small {
    width: var(--mg-icon-small-size);
    height: var(--mg-icon-small-size);
  }
  &[size='regular'],
  &.mg-icon--regular {
    width: var(--mg-icon-regular-size);
    height: var(--mg-icon-regular-size);
  }
  &[size='large'],
  &.mg-icon--large {
    width: var(--mg-icon-large-size);
    height: var(--mg-icon-large-size);
  }
}
