@use 'sass:map';

$border-bottom-size: 0.3rem;

@mixin navigation-button($element, $button-sizes) {
  @each $name, $size in $button-sizes {
    .#{$element}.#{$element}--size-#{$name} .#{$element}__navigation-button,
    .#{$element}__navigation-button.#{$element}__navigation-button--size-#{$name} {
      padding: #{map.get($size, 'vertical')} #{map.get($size, 'horizontal')};
      &,
      ::slotted([slot='label']),
      ::slotted([slot='metadata']) {
        @if $name == 'regular' {
          font-size: 1.3rem;
        } @else {
          font-size: 1.5rem;
        }
      }
      &.#{$element}__navigation-button--horizontal {
        padding-bottom: calc(#{map.get($size, 'vertical')} - #{$border-bottom-size});
      }
      &.#{$element}__navigation-button--vertical {
        padding-left: calc(#{map.get($size, 'horizontal')} - #{$border-bottom-size});
      }
    }
  }

  .#{$element}__navigation-button {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background: none;
    border: none;
    font-family: var(--font-family);
    color: hsl(var(--color-dark));
    line-height: var(--line-height);
    text-decoration: none;
    cursor: pointer;
    &:disabled,
    &--disabled {
      cursor: default;
      opacity: 30%;
    }
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: hsla(var(--#{$element}-border-color-hsl), 10%);
    }
    &.#{$element}__navigation-button--active {
      color: hsl(var(--#{$element}-color-active-hsl));
      font-weight: 700;
      &.#{$element}__navigation-button--horizontal {
        border-bottom-color: hsl(var(--#{$element}-border-color-hsl));
      }
      &.#{$element}__navigation-button--vertical {
        border-left-color: hsl(var(--#{$element}-border-color-hsl));
      }
    }
    &.#{$element}__navigation-button--hidden {
      display: none;
    }
    &.#{$element}__navigation-button--horizontal {
      border-bottom: $border-bottom-size solid transparent;
    }
    &.#{$element}__navigation-button--vertical {
      border-left: $border-bottom-size solid transparent;
    }
  }
}
